<!DOCTYPE html>
<html>
<head>
  <title>FlashRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "log out", session_path(current_user) %>
  <% end %>
<%= yield %>

</body>
</html>
